In [3]:
import pandas as pd 
import numpy as np

In [4]:
books_data=pd.read_csv("D:\\MACHINE LEARNING\\PROJECTS\\Book reccomendations\\books_data\\books.csv", encoding='iso-8859-1', on_bad_lines='skip')

on_bad_lines="skip" -> skips the lines which leads to error

In [5]:
print(books_data.head())

  ISBN;"Book-Title";"Book-Author";"Year-Of-Publication";"Publisher";"Image-URL-S";"Image-URL-M";"Image-URL-L"
0  0195153448;"Classical Mythology";"Mark P. O. M...
1  0002005018;"Clara Callan";"Richard Bruce Wrigh...
2  0060973129;"Decision in Normandy";"Carlo D'Est...
3  0374157065;"Flu: The Story of the Great Influe...
4  0393045218;"The Mummies of Urumchi";"E. J. W. ...

In [6]:
books_data.tail

<bound method NDFrame.tail of        ISBN;"Book-Title";"Book-Author";"Year-Of-Publication";"Publisher";"Image-URL-S";"Image-URL-M";"Image-URL-L"
0       0195153448;"Classical Mythology";"Mark P. O. M...
1       0002005018;"Clara Callan";"Richard Bruce Wrigh...
2       0060973129;"Decision in Normandy";"Carlo D'Est...
3       0374157065;"Flu: The Story of the Great Influe...
4       0393045218;"The Mummies of Urumchi";"E. J. W. ...
...                                                   ...
228143  0440400988;"There's a Bat in Bunk Five";"Paula...
228144  0525447644;"From One to One Hundred";"Teri Slo...
228145  006008667X;"Lily Dale : The True Story of the ...
228146  0192126040;"Republic (World's Classics)";"Plat...
228147  0767409752;"A Guided Tour of Rene Descartes' M...

[228148 rows x 1 columns]>

In [7]:
books_data.columns

Index(['ISBN;"Book-Title";"Book-Author";"Year-Of-Publication";"Publisher";"Image-URL-S";"Image-URL-M";"Image-URL-L"'], dtype='object')

In [8]:
books_data = books_data.iloc[:, 0].str.split(';', expand=True)

In [9]:
books_data.head

<bound method NDFrame.head of                 0                                                  1   \
0       0195153448                              "Classical Mythology"
1       0002005018                                     "Clara Callan"
2       0060973129                             "Decision in Normandy"
3       0374157065  "Flu: The Story of the Great Influenza Pandemi...
4       0393045218                           "The Mummies of Urumchi"
...            ...                                                ...
228143  0440400988                       "There's a Bat in Bunk Five"
228144  0525447644                          "From One to One Hundred"
228145  006008667X  "Lily Dale : The True Story of the Town that T...
228146  0192126040                      "Republic (World's Classics)"
228147  0767409752  "A Guided Tour of Rene Descartes' Meditations ...

                            2       3   \
0         "Mark P. O. Morford"  "2002"
1       "Richard Bruce Wright"  "2001"
2               "Carlo D'Este"  "1991"
3           "Gina Bari Kolata"  "1999"
4            "E. J. W. Barber"  "1999"
...                        ...     ...
228143        "Paula Danziger"  "1988"
228144            "Teri Sloat"  "1991"
228145      "Christine Wicker"  "2004"
228146                 "Plato"  "1996"
228147   "Christopher  Biffle"  "2000"

                                                       4   \
0                               "Oxford University Press"
1                                 "HarperFlamingo Canada"
2                                       "HarperPerennial"
3                                  "Farrar Straus Giroux"
4                                      "W. W. Norton &amp
...                                                   ...
228143                  "Random House Childrens Pub (Mm)"
228144                                     "Dutton Books"
228145                               "HarperSanFrancisco"
228146                          "Oxford University Press"
228147  "McGraw-Hill Humanities/Social Sciences/Langua...

                                                       5   \
0       "http://images.amazon.com/images/P/0195153448....
1       "http://images.amazon.com/images/P/0002005018....
2       "http://images.amazon.com/images/P/0060973129....
3       "http://images.amazon.com/images/P/0374157065....
4                                                Company"
...                                                   ...
228143  "http://images.amazon.com/images/P/0440400988....
228144  "http://images.amazon.com/images/P/0525447644....
228145  "http://images.amazon.com/images/P/006008667X....
228146  "http://images.amazon.com/images/P/0192126040....
228147  "http://images.amazon.com/images/P/0767409752....

                                                       6   \
0       "http://images.amazon.com/images/P/0195153448....
1       "http://images.amazon.com/images/P/0002005018....
2       "http://images.amazon.com/images/P/0060973129....
3       "http://images.amazon.com/images/P/0374157065....
4       "http://images.amazon.com/images/P/0393045218....
...                                                   ...
228143  "http://images.amazon.com/images/P/0440400988....
228144  "http://images.amazon.com/images/P/0525447644....
228145  "http://images.amazon.com/images/P/006008667X....
228146  "http://images.amazon.com/images/P/0192126040....
228147  "http://images.amazon.com/images/P/0767409752....

                                                       7   \
0       "http://images.amazon.com/images/P/0195153448....
1       "http://images.amazon.com/images/P/0002005018....
2       "http://images.amazon.com/images/P/0060973129....
3       "http://images.amazon.com/images/P/0374157065....
4       "http://images.amazon.com/images/P/0393045218....
...                                                   ...
228143  "http://images.amazon.com/images/P/0440400988....
228144  "http://images.amazon.com/images/P/0525447644....
228145  "http://images.amazon.com/images/P/006008667X....
228146  "http://images.amazon.com/images/P/0192126040....
228147  "http://images.amazon.com/images/P/0767409752....

                                                       8     9     10    11  \
0                                                    None  None  None  None
1                                                    None  None  None  None
2                                                    None  None  None  None
3                                                    None  None  None  None
4       "http://images.amazon.com/images/P/0393045218....  None  None  None
...                                                   ...   ...   ...   ...
228143                                               None  None  None  None
228144                                               None  None  None  None
228145                                               None  None  None  None
228146                                               None  None  None  None
228147                                               None  None  None  None

          12    13
0       None  None
1       None  None
2       None  None
3       None  None
4       None  None
...      ...   ...
228143  None  None
228144  None  None
228145  None  None
228146  None  None
228147  None  None

[228148 rows x 14 columns]>

In [10]:
books_data=books_data.drop([8,9,10,11,12,13],axis=1)

In [11]:
books_data.shape

(228148, 8)

In [12]:
column_names = ["ISBN", "Book-Title", "Book-Author", "Year-Of-Publication", "Publisher", "Image-URL-S", "Image-URL-M", "Image-URL-L"]
books_data.columns = column_names

In [13]:
books_data.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,"""Classical Mythology""","""Mark P. O. Morford""","""2002""","""Oxford University Press""","""http://images.amazon.com/images/P/0195153448....","""http://images.amazon.com/images/P/0195153448....","""http://images.amazon.com/images/P/0195153448...."
1,0002005018,"""Clara Callan""","""Richard Bruce Wright""","""2001""","""HarperFlamingo Canada""","""http://images.amazon.com/images/P/0002005018....","""http://images.amazon.com/images/P/0002005018....","""http://images.amazon.com/images/P/0002005018...."
2,0060973129,"""Decision in Normandy""","""Carlo D'Este""","""1991""","""HarperPerennial""","""http://images.amazon.com/images/P/0060973129....","""http://images.amazon.com/images/P/0060973129....","""http://images.amazon.com/images/P/0060973129...."
3,0374157065,"""Flu: The Story of the Great Influenza Pandemi...","""Gina Bari Kolata""","""1999""","""Farrar Straus Giroux""","""http://images.amazon.com/images/P/0374157065....","""http://images.amazon.com/images/P/0374157065....","""http://images.amazon.com/images/P/0374157065...."
4,0393045218,"""The Mummies of Urumchi""","""E. J. W. Barber""","""1999""","""W. W. Norton &amp","Company""","""http://images.amazon.com/images/P/0393045218....","""http://images.amazon.com/images/P/0393045218...."

In [14]:
user_data=pd.read_csv("D:\\MACHINE LEARNING\\PROJECTS\\Book reccomendations\\books_data\\users.csv",on_bad_lines='skip',encoding='iso-8859-1')

In [15]:
user_data.head()

                               User-ID;"Location";"Age"
1;"nyc         new york                       usa";NULL
2;"stockton    california                     usa";"18"
3;"moscow      yukon territory             russia";NULL
4;"porto       v.n.gaia                  portugal";"17"
5;"farnborough hants               united kingdom";NULL

In [16]:
user_data["User-ID;\"Location\";\"Age\""]

1;"nyc             new york                       usa";NULL
2;"stockton        california                     usa";"18"
3;"moscow          yukon territory             russia";NULL
4;"porto           v.n.gaia                  portugal";"17"
5;"farnborough     hants               united kingdom";NULL
                                              ...
278854;"portland   oregon                         usa";NULL
278855;"tacoma     washington          united kingdom";"50"
278856;"brampton   ontario                     canada";NULL
278857;"knoxville  tennessee                      usa";NULL
278858;"dublin     n/a                        ireland";NULL
Name: User-ID;"Location";"Age", Length: 272233, dtype: object

In [17]:
columns=["User_id","Location","Age"]
user_data=user_data["User-ID;\"Location\";\"Age\""].str.split(";",expand=True)

In [18]:
user_data.head

<bound method NDFrame.head of                                                   0     1     2     3
1;"nyc            new york                     usa"  NULL  None  None
2;"stockton       california                   usa"  "18"  None  None
3;"moscow         yukon territory           russia"  NULL  None  None
4;"porto          v.n.gaia                portugal"  "17"  None  None
5;"farnborough    hants             united kingdom"  NULL  None  None
...                                             ...   ...   ...   ...
278854;"portland  oregon                       usa"  NULL  None  None
278855;"tacoma    washington        united kingdom"  "50"  None  None
278856;"brampton  ontario                   canada"  NULL  None  None
278857;"knoxville tennessee                    usa"  NULL  None  None
278858;"dublin    n/a                      ireland"  NULL  None  None

[272233 rows x 4 columns]>

In [19]:
user_data

                                                  0     1     2     3
1;"nyc            new york                     usa"  NULL  None  None
2;"stockton       california                   usa"  "18"  None  None
3;"moscow         yukon territory           russia"  NULL  None  None
4;"porto          v.n.gaia                portugal"  "17"  None  None
5;"farnborough    hants             united kingdom"  NULL  None  None
...                                             ...   ...   ...   ...
278854;"portland  oregon                       usa"  NULL  None  None
278855;"tacoma    washington        united kingdom"  "50"  None  None
278856;"brampton  ontario                   canada"  NULL  None  None
278857;"knoxville tennessee                    usa"  NULL  None  None
278858;"dublin    n/a                      ireland"  NULL  None  None

[272233 rows x 4 columns]

In [20]:
new_data=pd.read_csv("D:\\MACHINE LEARNING\\PROJECTS\\Book reccomendations\\books_data\\kindle_data-v2.csv")

Empty DataFrame
Columns: [asin, title, author, soldBy, imgUrl, productURL, stars, reviews, price, isKindleUnlimited, category_id, isBestSeller, isEditorsPick, isGoodReadsChoice, publishedDate, category_name]
Index: []